{{#if progress}}
  <div class="spf-progress">
    <div class="spf-progress-bar">
      <div class="spf-progress-fill" style="width: {{progress.percent}}%"></div>
    </div>
    <p class="spf-progress-percent">{{progress.percent}}%</p>
    <p class="spf-progress-detail">{{progress.detail}}</p>
    <p class="spf-model">{{model}}</p>
  </div>
{{else}}
  <div class="spf-busy">
    <i class="fa-solid fa-spinner fa-spin"></i>
    {{localize "SIMPLYPF2E.Generator.Busy"}} <span class="spf-model">({{model}})</span>
  </div>
{{/if}}
